@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~leaflet/dist/leaflet.css';

.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.map {
  width: 100vw;
  height: 60vh;
  margin-top: 1px;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-popup {
  top: 0 !important;
}

.leaflet-popup-content {
  line-height: 1 !important;
}

.leaflet-popup-content p {
  margin: 9px 0 !important;
  font-size: 14px;
}

.leaflet-popup-tip-container {
  display: none;
}
