.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.leaflet-container {
  width: 100vw;
  height: 70vh;
}

.leaflet-popup {
  top: 0 !important;
}
.leaflet-popup-content {
  line-height: 1 !important;
}

.leaflet-popup-content p {
  margin: 9px 0 !important;
}

.leaflet-popup-tip-container {
  display: none;
}